:root {
  --ss-animation-duration: 0.3s;

  --ss-margin-small: 12px;
  --ss-margin-big: 24px;
  --ss-padding-small: 12px;
  --ss-padding-big: 24px;

  --ss-body-color: rgb(79, 123, 123);
  --ss-font-color: white;
  --ss-primary-color: rgb(0, 196, 167);
  --ss-secondary-color: rgb(72, 95, 199);

  --ss-sm-font-size: 1.2rem;
  --ss-md-font-size: 1.5rem;
  --ss-lg-font-size: 2.5rem;
  --ss-xl-font-size: 3rem;
}

a {
  text-decoration: none;
}

body {
  color: var(--ss-font-color);
  background-color: var(--ss-body-color);
  font-family: "Source Sans Pro", sans-serif;
  font-size: var(--ss-sm-font-size);
  min-height: 100vh;
}

ul {
  margin-top: var(--ss-margin-small);
}

ul li {
  list-style: outside;
  margin-left: var(--ss-margin-big);
}

.ss-fancy-text {
  font-family: "Libre Bodoni", serif;
}

.body-text-color {
  color: var(--ss-font-color);
}

.ss-sm-text {
  font-size: var(--ss-sm-font-size);
}

.ss-md-text {
  font-size: var(--ss-md-font-size);
}

.ss-lg-text {
  font-size: var(--ss-lg-font-size);
}

.ss-xl-text {
  font-size: var(--ss-xl-font-size);
}

.ss-transition {
  moz-transition: all var(--ss-animation-duration) ease-out;
  -o-transition: all var(--ss-animation-duration) ease-out;
  -webkit-transition: all var(--ss-animation-duration) ease-out;
  transition: all var(--ss-animation-duration) ease-out;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
